<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
</head>
<body>
  <h2>Relatório {{.ReportName}}</h2>
  <table>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>CPF</th>
    </tr>
    {{range .Customers}}
    <tr>
      <td>{{.Id}}</td>
      <td>{{.Name}}</td>
      <td>{{.Cpf}}</td>
    </tr>
    {{end}}
  </table>
</body>
<style>
  table {
    border: 1px;
    width: 100%;
  }
</style>
</html>
